<!DOCTYPE html>
<html>
<head>
  <title>ActivityRoutePlanner</title>
  <%= stylesheet_link_tag :all,'design' %>
  <%= javascript_include_tag :defaults,'util.js','http://www.openlayers.org/api/OpenLayers.js','http://www.openstreetmap.org/openlayers/OpenStreetMap.js' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
