*~
.project
.bundle
db/*.sqlite3
log/*.log
tmp/
nbproject/
*.project
config/database.yml
th-zlib/
*.kml*
*.KML*
*.gpx
*.GPX
*.json
*.JSON
*.bz2
public/javascripts/lib/
public/javascripts/theme/
.loadpath
catalog-v001.xml
