<%route = session[:main_route] %>

<table style="font-size:11px;">
<tr>
	<td style="width:120px;">	
Select algorithm:
</td><td>
<%= select_tag "setAlgorithmus",
            options_for_select(Global::ALGORITHMUS_LIST,route.algorithmus),
		:style=>"width:100px;",
	    :onchange => 'showWall();'+remote_function(
		 	 :url=> "/setAlgorithmus",
			 :with => "'algo=' +document.getElementById('setAlgorithmus').value")
%>
</td></tr>
<tr>
	<td style="width:120px;">	
Sort activities:
</td><td>
<%= select_tag "sort",
            options_for_select(["false","true"],route.sort),
		:style=>"width:100px;",
	    :onchange => 'showWall();'+remote_function(
		 	 :url=> "/setAlgorithmus",
			 :with => "'sort=' +document.getElementById('sort').value")
%>
</td></tr>
</table>