<%coordinates = result[:lat]+":"+result[:lon]%>
<p><%= link_to result[:name],
            {:controller => :generate_place,
            :action=> :update_place,
            type=> "true",
            :result => result},
            :onmouseover => "highMarker('"+result[:place_id]+"');",
            :onmouseout => "downMarker('"+result[:place_id]+"');",
            :remote => true,
            :onclick => 'showWall();'%></p>
