<%coordinates = point.node.lat.to_s+":"+point.node.lon.to_s+":"+index.to_s
  label = point.node.tags["name"]!=nil && !"".eql?(point.node.tags["name"]) ? point.node.tags["name"] : "no name"%>
<p><%= link_to label,
            {:controller => :activity,
            :action=> :create,
            :point => {:label=>point.node.tags["name"],:lat => point.node.lat,:lon => point.node.lon,:icon=>point.icon}
            },
            :onmouseover => "highMarker('"+coordinates+"');",
            :onmouseout => "downMarker('"+coordinates+"');",
            :remote => true
            %></p>
