<%label = ""
default = ""
if point != nil && point.label!=nil && (!point.label.eql? "")
  showDelete = true
  default = point.label
else
  showDelete = false
  if type.eql?("start")
    default = "53.075878;8.80731"
  else
    default = "53.115878;8.85731"
  end
end
%>
<span class="pointInput" id="<%=type%>_id">
<%= form_tag('/updateRoute', :remote => true) do |f| %>
			<%= text_field_tag type,default%>
		<%if showDelete%>	
			<%= # link to remove that activity
			link_to image_tag("delete.gif", :border=>0,:class => "delete"), "/updateRoute?delete_point="+type,:class=>"delete", :remote => true,:onclick => 'showWall();'%>
		<% end%>	
	<% end%>
</span>