<%
route = session[:main_route]
%>
<span id="activity_id">

<% #For each activity one select box
	if route.activities != nil
		route.activities.each do |a| %>
			  <%= render :partial => 'activity/activityForm',
				:locals => {:activity => a} %>
		<%end%>
	<%end%>	
</span>