<%route = session[:main_route]%>
<span id="activity_id">
  <table>
<% 
  if route.activities != nil
%><tr><td colspan="2">Activities:</td></tr><%
        list = route.activities
	list.each.with_index do |elem,index| %>
		  <% 
			#elem = route.activities[index]
			show_delete = true						

			if index == route.activities.length-1
				show_delete = false
			end
		  %>
		  
          <%= render :partial => 'activity/form',
				:locals => {:activity => elem, :index => index, 
							:show_delete => show_delete}
		  %>
        <%end%>
  <%end%>
</table>
</span>