<%coordinates = result[:lat]+":"+result[:lon]%>
<p><%= link_to result[:name],
            {:controller => :point,
            :action=> :update_point,
            :result => result,
            :type => type},
            :onmouseover => "highMarker('"+result[:place_id]+"');",
            :onmouseout => "downMarker('"+result[:place_id]+"');",
            :remote => true
            %></p>
