<div style='width:500'>
	<div id="task" style='float: left; width: 300px; height:400px; border-right: 3px double black'>
	  <b>Task:</b>
	  <p><%= @test.task %></p>
	</div> 
	
	
	<div id="input" style='margin-left:330px; padding-top:30px;'>
		
		<h3>Resultat</h3>
		<%=image_tag("/images/#{@test.screen_solution}", :height => 450, :title =>"Screenshot_query", :alt=>"Screenshot_query", :border => "0")%>			
		<br />
		<% if @next.nil?%>
		<%= link_to 'Fertig', "end" %>
		<%else%>
		<%= link_to 'Weiter', "/tests/#{@next.id}" %>
		<%end%>
	</div>
</div>

