/* 
    Document   : design
    Created on : 23.02.2011, 11:07:48
    Author     : pipo
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
a:visited{
	color:#757575;
        font-weight:bolder;
}
a:link{
	color:#757575;
        font-weight:bolder;        
}
a:active{
	color:#757575;
        font-weight:bolder;
}
a:hover{
	color:red;
        font-weight:bolder;
}

body{
    font: 11px Verdana, Geneva,  Helvetica, sans-serif;
    background-color: #c8d8d8;
    height:100%;      
    margin: 10px;
    padding:0;
    overflow:hidden;
}
tr,td{
    vertical-align:middle;
    height: 20px;
}
root {
    display: block;
}
table{

}
h1{
	margin-top:0px;
	float:left;
	font-size:16.5px;
	font-weight:700;
}
.header{
    height:100px;
    width:100%;
    text-align: center;
}
.menu{
    float:left;
    width:280px;
}
#map{
    position:absolute;
    left:290px;        
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
.pointInput{
	margin-top:25px;
}
.info_text{ font-style:italic;
        color :gray;
}
.delete{
    vertical-align: bottom;
}
.setPoint{
    border-color: black;
    border-width: 1px;
    margin:10px
}
.dialog{
    border-color: black;
    border-width: 1px;
    font-size: 10pt;
    max-height: 650px;
    min-height: 400px;
    margin: 15px 0px 5px 5px;
    overflow-y:auto;

}
#freetext{
	width:50%; 
	margin-bottom:7px;
	margin-left: 50px;
}

div.headline{
	text-align:center;
	font-weight:bold;
	font-size:20px;
}
td.structured{
	width:100px;
}
