/* 
    Document   : design
    Created on : 23.02.2011, 11:07:48
    Author     : pipo
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body{
    font: 11px Verdana, Geneva,  Helvetica, sans-serif;
    background-color: #c8d8d8;
    height:100%;      
    margin: 10px;
    padding:0;
    overflow:scroll;
}
tr,td{
    vertical-align:top;
}
root {
    display: block;
}
table{
}
.header{
    height:100px;
    width:100%;
    text-align: center;
}
.menu{
    float:left;
    width:280px;
}
#map{
    position:fixed;
    left:280px;        
    height: 93%;
    width: 79%;
    padding: 0;
    margin: 0;
}
.pointInput{
	margin-top:25px;
}
