/* reset default styles */
#menu,
#menu ul { margin: 0; padding: 0; }
#menu li { list-style-type: none; }
  
/* first level */
#menu { width: 120px; float:left;}
#menu li,
#menu a { float: left; width: 170px; }
#menu a { display: block; background: #EEE; }
#menu a:hover,
#menu a.menu_open { background: #DDD; }

/* second level */
#menu ul { visibility: hidden; position: absolute; width: 120px; }
#menu ul a { background: #DDD; }
#menu ul a:hover,
#menu ul a.menu_open { background: #CCC; }

/* third level (colors) */
#menu ul ul a { background: #CCC; }
#menu ul ul a:hover { background: #BBB; }
