<%if @route.activities != nil
	list = @route.activities.all(:order => 'created_at ASC')
	list.each do |elem| %>		  
  		<%= render :partial => 'activity/form',
		:locals => {:activity => elem, 	:show_delete => !elem.is_empty}
  		%>
	<%end%>
<%end%>
<tr id="waypoint"><td colspan="2">
	<%= link_to image_tag("add.png", :border=>0,:class => "delete"), "#", :remote => true,:onclick=>'showOntology();'%> add activity or waypoint
</td></tr>