<a href="#" onclick="toggleStructured()">Structured input</a>
<div style="display:none" class="structured">
	<table>
		<tr><td>Start:</td><td align="right" id="start">
	  		<%= render :partial => 'init/point_form',:locals => {:point => @route.start_point,:type => 'start',:action_url=>"/search"} %>
		</td></tr>
		<%= render 'activity' %>
		<tr><td>Destination:</td><td align="right" id="end">
			<%= render :partial => 'init/point_form',:locals => {:point => @route.end_point,:type => 'end',:action_url=>"/search"}%>
		</td></tr>
	</table>        
	<%= render :partial=>"calculate_route/algorithmus_form"%>
</div>