<%
route = session[:main_route]
start_point_string = "Start"
end_point_string = "Ziel"

%>

<table>
  <tr><td width="80px">Startpunkt:</td><td>
  	 	
  <%= render :partial => 'route/routeForm',:locals => {:point => route.start_point,:type => 'start'} %>

</td></tr>
<tr><td>Endpunkt:</td><td>
  
<%= render :partial => 'route/routeForm',:locals => {:point => route.end_point,:type => 'end'}%>
</td></tr>
</table>