<%
route = Route.find(session[:main_route])
%>
<br/>
<span class="info_text">
		Please input your coordinates or place, <br />
		or click into the map to set coordinates.<br /><br />
		Example: <br />"53.075890890852:8.8073324576725" <br />
		or "Central Station" </span>
<table>

  <tr><td width="80px">Start:</td><td>
  	 	
  <%= render :partial => 'point/point_form',:locals => {:point => route.start_point,:type => 'start',:action_url=>"/search"} %>

</td></tr>
<tr><td>Destination:</td><td>
  
<%= render :partial => 'point/point_form',:locals => {:point => route.end_point,:type => 'end',:action_url=>"/search"}%>
</td></tr>
</table>