<%
route = session[:main_route]
start_point_string = "Start"
end_point_string = "Ziel"

if session[:number_of_act] == nil
	session[:number_of_act] = 1
end

%>

<table>
  <tr><td width="80px">Startpunkt:</td><td>
  	 	
<%
@point_type = "start_point"
%>
<span class="pointInput" id="start_point"> 
<%= render :partial => 'route/routeForm'%>
</span>

</td></tr>
<tr><td>Endpunkt:</td><td>
  	
<%
@point_type = "end_point"
%>
<%= render 'route/routeForm'%>

</td></tr>
</table>