<%
route = session[:main_route]
start_point_string = "Start"
end_point_string = "Ziel"

%>
<br/>
<span class="info_text">
		Please input your coordinates or place, <br />
		or click into the map to set coordinates.<br /><br />
		Example: <br />"53.075890890852;8.8073324576725" <br />
		or "Central Station" </span>
<table>

  <tr><td width="80px">Start:</td><td>
  	 	
  <%= render :partial => 'place/place_form',:locals => {:point => route.start_point,:type => 'start'} %>

</td></tr>
<tr><td>Destination:</td><td>
  
<%= render :partial => 'place/place_form',:locals => {:point => route.end_point,:type => 'end'}%>
</td></tr>
</table>