<%
route = session[:main_route]
start_point_string = "Start"
end_point_string = "Ziel"

%>
<br/>
<span class="info_text">Koordinaten eingeben:"54.0987;65.9887"</span>
<table>

  <tr><td width="70px">Startpunkt:</td><td>
  	 	
  <%= render :partial => 'route/routeForm',:locals => {:point => route.start_point,:type => 'start'} %>

</td></tr>
<tr><td>Endpunkt:</td><td>
  
<%= render :partial => 'route/routeForm',:locals => {:point => route.end_point,:type => 'end'}%>
</td></tr>
</table>