<% form_tag :action => "freetext" do %>

<%=text_field_tag 'freetext', 
                  nil,
                  :placeholder => 'From university bremen to restaurant near Berliner Freiheit', 
                  :id => 'freetext', 
                  :align => "center"
%>

<% end %>

 <table>
<% @classes.each do |classes| %>
  <tr>
    <td><%= classes.to_s %></td>
    
  </tr>
<% end %>
 </table>
