<div class="route" id="route_id">
	<div class="headline">Route</div><br/>
	<span style="font-size:12px;">          
		  <%= render :partial=>"calculate_route/algorithmus_form"%>
	</span>
<%= render 'init/form' %>
<%= link_to "reset zoom","#", :onclick => 'resetCenter();'%>
<%= render 'activity/index' %>
</div>
<script type="text/javascript">hideWall();</script>