<div class="route" id="route_id">
	<%= render 'init/form' %>
	<br />
	<%= link_to "reset zoom","#", :onclick => 'resetCenter();'%>
	<%= render 'activity' %>
</div>
<script type="text/javascript">hideWall();</script>