
<div class="route" id="route_id">
	<h2>Route</h2><br/>
	<span style="font-size:10px;">
		<%= link_to "reset", "/resetMethod" %>
	</span>
<%= render 'init/form' %>

<%= render 'activity/index' %>
	
</div>
