
<div class="route" id="route_id">
	<div class="headline">Route</div><br/>
	<span style="font-size:12px;">          
		  <%= render :partial=>"generate_place/algorithmus_form"%>
	</span>
<%= render 'init/form' %>
<%= render 'activity/index' %>	
</div>
