
 <table>
<% @classes.each do |classes| %>
  <tr>
    <td><%= classes.to_s %></td>
    
  </tr>
<% end %>
 </table>

<%if @points.empty? %>
<%= "No results"%>

<%else%>
 <table>

<% @points.uniq.each do |points| %>
  <tr>
    <td><%= points.label %></td>
    
  </tr>
<% end %>
<%end %>
 </table>
