
 <table>
<% @classes.each do |classes| %>
  <tr>
    <td><%= classes.to_s %></td>
    
  </tr>
<% end %>
 </table>

<%if @points.empty? %>
<%= "No results"%>

<%else%>
 <table>

<% @points.each do |poin,value| %>
  <tr>
    <td><%= poin.label %></td>
    <td><%= value %></td>

    
  </tr>
<% end %>

<%end %>

 </table>
