<div class="header"> <%= render 'header' %></div>
<table border="0" width="100%" height="100%">
  <tr>
    <td width="400px"><%= render 'menu' %></td>
    <td><%= render 'content' %></td>
  </tr>
</table>