<h2 align="center">Activity-Routing "DO-ROAM"</h2>
<div width=100%><%= render 'init/freetext' %></div>
<div style="clear:both;"></div>
<div class="menu" id="menu_id">
<%= render 'menu' %>
</div>
<%= render 'content' %>
<div style="clear:both;"></div>
